<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
</head>

<body>
    <div id="Panel-Course-General">
        <h1 class="title-contenido">Aulas - {nombre}</h1>

        <div id="Panel-Course">
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso.png">
                    <div class="title-gen">
                        <h3 class="title-course">Visual Code - Aula 315</h3>
                        <h2 class="title-doc-course">Fabian Gonzalo Aquino Zegarra</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso VSCode</h3>
                    <p>Aprende a utilizar Visual Studio Code como un profesional. Desde la gestión de proyectos hasta la
                        integración de extensiones, transforma tu flujo de trabajo y optimiza tu productividad. </p>

                    <div class="link">
                        <a href="#" class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso.png">
                    <div class="title-gen">
                        <h3 class="title-course">Visaul Code - Aula 316</h3>
                        <h2 class="title-doc-course">Nilton Orlando Bonifacio Garcia</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso VSCode</h3>
                    <p>Aprende a utilizar Visual Studio Code como un profesional. Desde la gestión de proyectos hasta la
                        integración de extensiones, transforma tu flujo de trabajo y optimiza tu productividad. </p>

                    <div class="link">
                        <a href="#" class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso.png">
                    <div class="title-gen">
                        <h3 class="title-course">Visual Code - Aula 317</h3>
                        <h2 class="title-doc-course">Julio Cesar Inga Quintana</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso VSCode</h3>
                    <p>Aprende a utilizar Visual Studio Code como un profesional. Desde la gestión de proyectos hasta la
                        integración de extensiones, transforma tu flujo de trabajo y optimiza tu productividad. </p>

                    <div class="link">
                        <a href="#" class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso.png">
                    <div class="title-gen">
                        <h3 class="title-course">Visual Code - Aula 318</h3>
                        <h2 class="title-doc-course">Yehinner David Torres Astorga</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso VSCode</h3>
                    <p>Aprende a utilizar Visual Studio Code como un profesional. Desde la gestión de proyectos hasta la
                        integración de extensiones, transforma tu flujo de trabajo y optimiza tu productividad. </p>

                    <div class="link">
                        <a href="#" class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>