<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Content/css/contServer.css">
</head>

<body>
    <div id="Panel-Information">
        <h1 class="title-contenido">INFORMACIÓN</h1>

        <div class="Panel">
            <div class="Panel-Presentacion">
                <div class="titulo-inicio" id="p-1">
                    <h2>Métricas</h2>
                    <div class="p-category">
                        <p>Estudiantes Registrados: X</p>
                    </div>
                    <div class="p-category">
                        <p>Cursos Activos: X</p>
                    </div>
                    <div class="p-category">
                        <p>Ingresos Recientes: X</p>
                    </div>
                </div>
            </div>

            <div class="Panel-Presentacion">
                <div class="titulo-inicio" id="p-2">
                    <h2>Gráfica</h2>
                    <div class="p-category">
                        <p>Ingresos por mes: X</p>
                    </div>
                    <div class="p-category">
                        <p>Progreso en Cursos: X</p>
                    </div>
                </div>
            </div>

            <div class="Panel-Presentacion">
                <div class="titulo-inicio" id="p-3">
                    <h2>Bienvenido Wallbotster</h2>
                    <p> Nos alegra contar con ustedes para impulsar la gestión y liderazgo. Juntos alcanzaremos grandes
                        metas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>