<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="../../../Content/js/scriptCustomer.js"></script>
</head>

<body>
    <div id="Panel-General-Customer" class="Panel-General-Server">
        <h2 class="title-contenido">Tienda</h2>
        <div id="Panel-Shop-Customer">
            <div class="Panel_Presentacion">
                <div class="titulo">
                    <p>Optimiza tu entorno</p>
                    <h1>VISUAL STUDIO CODE</h1>
                </div>

                <img src="../../../Content/Img/curso.png">

                <div class="contenido">
                    <h3>¡Domina el editor favorito de los desarrolladores!</h3>
                    <p>Aprende a sacar el máximo provecho de Visual Studio Code, el editor de código que
                        se adapta a cualquier lenguaje de programación.</p>
                    <a href="#" class="btn-curso">¡Accede a la Guía Ahora!</a>
                </div>
            </div>
        </div>

        <h2 class="title-contenido">Cursos</h2>
        <div id="Panel-Course-Customer">
            <div class="Panel_Presentacion">
                <div class="titulo">
                    <p>Optimiza tu entorno</p>
                    <h1>VISUAL STUDIO CODE</h1>
                </div>

                <img src="../../../Content/Img/curso.png">

                <div class="contenido">
                    <h3>¡Domina el editor favorito de los desarrolladores!</h3>
                    <p>Aprende a sacar el máximo provecho de Visual Studio Code, el editor de código que
                        se adapta a cualquier lenguaje de programación.</p>
                    <a href="#" class="btn-curso">¡Accede a la Guía Ahora!</a>
                </div>
            </div>
        </div>

        <div class="Opc">
            <a href="../auth/Course-Shop.html"><i class="fa-solid fa-plus"></i> Agregar Curso o Grupo</a>
        </div>
    </div>
</body>

</html>