<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
</head>

<body>
    <div class="enca">
        <span id="info_cur">Visual Studio Code</span>
    </div>
    <div class="font">
        <div class="contenedor">
            <button class="btnd">
                <span class="sesion">Session 1</span>
            </button>
            <div class="desplegable">
                <div class="caja">
                    <div id="clases">
                        <span>Video 1</span>
                        <a href="">Clase n°1</a>
                    </div>
                </div>
            </div>
            <button class="btnd">
                <span class="sesion">Session 2</span>
            </button>
            <div class="desplegable">
                <div class="caja">
                    <div id="clases">
                        <span>Video 2</span>
                        <a href="">Clase n°2</a>
                    </div>
                </div>
            </div>
            <button class="btnd">
                <span class="sesion">Session 3</span>
            </button>
            <div class="desplegable">
                <div class="caja">
                    <div id="clases">
                        <span>Video 3</span>
                        <a href="">Clase n°3</a>
                    </div>
                </div>
            </div>
            <button class="btnd">
                <span class="sesion">Session 4</span>
            </button>
            <div class="desplegable">
                <div class="caja">
                    <div id="clases">
                        <span>Video 4</span>
                        <a href="">Clase n°4</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Info_pro">
            <div class="encabezado">
                <span id="prof">Profesor del Curso</span>
            </div>
            <div class="arribai">
                <img id=yehinner src="../../../Content/Img/img2.png" alt="">
                <span id="nombre">Yehinner David Torres Astorga</span>
            </div>
            <div class="medioi">
                <span id="Detalles">Detalles</span>
                <a href="">Informacion del curso</a>
                <span id="curso"> Visual Studio Code</span>
            </div>
        </div>
    </div>


    <script src="../../../Content/js/scriptCustomer.js"></script>
</body>

</html>