<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
</head>

<body>
    <div class="contenedor">
        <button id="btnd" class="session-btn">
            <span class="sesion">Session 1</span>
        </button>
        <div id="dropdownVisual1" class="dropdown">
            <p class="section-title">Students:</p>
            <form id="formVisual1">
                <div class="student-list">
                    <p>Aquino Zegarra Fabian Gonzalo</p>
                    <p>Bonifacio Garcia Nilton Orlando</p>
                    <p>Inga Quintana Julio Cesar</p>
                    <p>Torres Astorga Yehinner David</p>
                </div>
            </form>
        </div>

        <button id="btnd" class="session-btn">
            <span class="sesion">Sesion 2</span>
        </button>
        <div id="dropdownVisual2" class="dropdown">
            <p class="section-title">Students:</p>
            <form id="formVisual2">
                <div class="student-list">
                    <p>Aquino Zegarra Fabian Gonzalo</p>
                    <p>Bonifacio Garcia Nilton Orlando</p>
                    <p>Inga Quintana Julio Cesar</p>
                    <p>Torres Astorga Yehinner David</p>
                </div>
            </form>
        </div>

        <button id="btnd" class="session-btn">
            <span class="sesion">Session 3</span>
        </button>
        <div id="dropdownVisual3" class="dropdown">
            <p class="section-title">Students:</p>
            <form id="formVisual3">
                <div class="student-list">
                    <p>Aquino Zegarra Fabian Gonzalo</p>
                    <p>Bonifacio Garcia Nilton Orlando</p>
                    <p>Inga Quintana Julio Cesar</p>
                    <p>Torres Astorga Yehinner David</p>
                </div>
            </form>
        </div>

        <button id="btnd" class="session-btn">
            <span class="sesion">Session 4</span>
        </button>
        <div id="dropdownVisual4" class="dropdown">
            <p class="section-title">Students:</p>
            <form id="formVisual4">
                <div class="student-list">
                    <p>Aquino Zegarra Fabian Gonzalo</p>
                    <p>Bonifacio Garcia Nilton Orlando</p>
                    <p>Inga Quintana Julio Cesar</p>
                    <p>Torres Astorga Yehinner David</p>
                </div>
            </form>
        </div>
    </div>


    <script src="../../../Content/js/scriptCustomer.js"></script>
</body>

</html>