<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
</head>

<body>
    <div id="Panel-Course-General">
        <h1 class="title-contenido">Mis Conocimientos</h1>

        <div id="Panel-Course">
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso.png">
                    <div class="title-gen">
                        <h3 class="title-course">Visual Code</h3>
                        <h2 class="title-doc-course">Fabian Gonzalo Aquino Zegarra</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso VSCode</h3>
                    <p>Aprende a utilizar Visual Studio Code como un profesional. Desde la gestión de proyectos hasta la
                        integración de extensiones, transforma tu flujo de trabajo y optimiza tu productividad. </p>

                    <div class="link">
                        <a href="../../../Page/Components/resources_Customer/Course-Information.html"
                            class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso-html.jpg">
                    <div class="title-gen">
                        <h3 class="title-course">HTML</h3>
                        <h2 class="title-doc-course">Nilton Orlando Bonifacio Garcia</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso HTML</h3>
                    <p>Descubre el poder de HTML y crea estructuras sólidas para tus proyectos. Aprende a utilizar
                        etiquetas, atributos y buenas prácticas que te permitirán diseñar páginas web efectivas y
                        accesibles.</p>

                    <div class="link">
                        <a href="../../../Page/Components/resources_Customer/Course-Information.html"
                            class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso-css.jpg">
                    <div class="title-gen">
                        <h3 class="title-course">CSS</h3>
                        <h2 class="title-doc-course">Julio Cesar Inga Quintana</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso CSS</h3>
                    <p>Con CSS, convierte tus diseños en experiencias visuales impresionantes. Aprende a estilizar tus
                        páginas web, a usar layouts modernos y a aplicar animaciones que cautivarán a tus usuarios.</p>

                    <div class="link">
                        <a href="../../../Page/Components/resources_Customer/Course-Information.html"
                            class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
            <div id="card">
                <div class="face front">
                    <img src="../../../Content/Img/curso-js.jpg">
                    <div class="title-gen">
                        <h3 class="title-course">JavaScript</h3>
                        <h2 class="title-doc-course">Yehinner David Torres Astorga</h2>
                    </div>
                </div>

                <div class="face back">
                    <h3 class="title-inte">Curso JS</h3>
                    <p>Con JavaScript, añade interactividad y dinamismo a tus proyectos. Desde los fundamentos hasta la
                        creación de aplicaciones web completas, este curso te equipará con las habilidades necesarias
                        para llevar tus habilidades de programación al siguiente nivel.</p>

                    <div class="link">
                        <a href="../../../Page/Components/resources_Customer/Course-Information.html"
                            class="btn_course">¡Entrar!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>