<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
</head>

<body>
  <div id="Panel-Home">
    <div class="fondo-contenido">
      <div class="text-contenido">
        <h1 class="title">¡Bienvenidos a nuestro espacio de aprendizaje!</h1>
        <p class="parrafo">Aquí, fomentamos la pasión por la programación desde una edad temprana. Nuestro objetivo es
          empoderar a niños y adolescentes con las habilidades necesarias para convertirse en los ingenieros del futuro.
          A
          través de recursos interactivos y proyectos emocionantes, transformamos la educación en una aventura divertida
          y
          creativa.</p>

        <div class="content-btn">
          <button class="btn-cuotas">¡Únete a nosotros y descubre el mundo de la programación!</button>
        </div>
      </div>
      <footer>
        <p><b>Grupo 04</b> &copy; 2024 | Todos los derechos reservados.</p>
      </footer>
    </div>
  </div>

</body>

</html>