<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
</head>

<body>

    <div class="enca">
        <img id="logoc" src="../../../Content/Img/Visual logo.png" alt="">
        <span id="info_cur">Visual Studio Code</span>
    </div>
    <div class="mediov">
        <div class="video">
            <img id="vid_provicional" src="../../../Content/Img/curso-html.jpg" alt="">
        </div>
        <div class="mensajeria">
            <div class="cuerpom">
                <span id="chat">hola</span>
            </div>
            <form class="mensaje">
                <input type="text" id="Escribir" placeholder="Escribir mensaje..." />
                <input type="submit" id="enviarBtn">
            </form>
        </div>
    </div>






</body>

</html>