<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Content/css/contCustomer.css">
</head>

<body>

    <div class="enca">
        <img id="logoc" src="../../../Content/Img/Visual logo.png" alt="">
        <span id="nombre_cur">Visual Studio Code</span>
    </div>
    <div class="mediov">
        <div class="info_vid">
            <span id="nombre_video">Clase 1</span>
            <span id="fecha"> - (19/13/2004)</span>
            <div class="video">
                <img id="vid_provicional" src="../../../Content/Img/wallpaper walle.jpg" alt="">
            </div>
        </div>
        <div class="mensajeria">
            <div id="descripcion">
                <span>Hoy hemos aprendido a instalar Visual Studio Code, personalizar su interfaz y explorar las
                    principales funciones, como la barra lateral, el terminal integrado, y los atajos básicos. También
                    vimos cómo abrir y organizar proyectos de manera eficiente dentro del editor.</span>
            </div>
            <div id="cuerpom">
                <span id="chat">hola</span>
            </div>
            <form id="mensaje">
                <input type="text" id="Escribir" placeholder="Escribir mensaje..." />
                <input type="submit" id="enviarBtn">
            </form>
        </div>
    </div>
</body>

</html>